@font-face {
  font-family: "Objective";
  font-weight: 400;
  src: url(../assets/fonts/Objective-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Objective";
  font-weight: 500;
  src: url(../assets/fonts/Objective-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Objective";
  font-weight: 700;
  src: url(../assets/fonts/Objective-Bold.woff2) format("woff2");
}
