$header-text-color: #2c2c2c;
$background-color: #ffffff;
$background-color-page: #f7f6f9;
$text-color: #838383;
$border-radius: 8px;
$text-size: 12px;
$text-weight: 400;
$bold-text-weight: 500;
$info-color: #b79bff;
$green-color: #77b900;
